<h2><%= t(".title") %> </h2>

<ul>
    <%= render @categories %>
</ul>

<%= link_to t(".new"), new_category_path, data: { turbo_prefetch: false } if Current.user.present? && policy(Category.new).new? %>