<h2><%= t(".title") %> </h2>


<% if Current.user.present? && policy(Category.new).new? %>
    <%= turbo_frame_tag "new_category" do %>
        <%= render "form", category: Category.new %>
    <% end %>
<% end %>

<ul>
    <div id="categories">
        <%= render @categories %>
    </div>
</ul>